:root {
  --home-bg-color: #f2f3ee;
  --color: #373B44;
  --menu-bg-color: #cbcbc2;
  --silde-btn-border: #808080;
  --slide-btn-bg: #ddf2db;
  --slide-btn-hoverbg: #f1fff1;
  --alpha-green: rgba(33, 96, 47, 0.51);
  --icon-hover-color: #344a39;
  --icon-hover-bg: #709680;
  --text-color: #616161;
  --border-color: #709680;
  --heading-color: #344a39;
  --box-shadow-color: #b5b5ac;
  --lightest-green: #86a58d;
  --light-green: #9ab09a;
  --dark-green: rgba(52, 74, 57, 0.86);
  --box-shadow: 0px 0px 3px 5px var(--box-shadow-color);
  --border-radius: 60px 5px;
  --fade-green: rgba(57, 87, 64, 0.55);
}




*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body,
html {
  width: 100%;
  font-size: 10px;
  color: var(--text-color);
  font-weight: normal;
  font-family: sans-serif;


}

#ham-menu {
  display: none;
}

label[for="ham-menu"] {
  display: block;
  position: fixed;
  top: 24px;
  left: 20px;
  z-index: 999;
  width: 60px;
  height: 60px;
  background-color: var(--home-bg-color);
  border-radius: 15px;
  border: 2px solid var(--border-color);
}

.ham-menu {
  width: 50vw;
  height: 100%;
  position: fixed;
  top: 0;
  visibility: hidden;
  transform: translate(-110%);
  z-index: 998;
  background-color: var(--lightest-green);
  transition: 1s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ham-menu>ul {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  padding: 20px;
  height: 50%;
}

.ham-menu>ul>li>a {
  font-size: 5rem;
  white-space: nowrap;
  letter-spacing: 0.15em;
  cursor: pointer;
  color: rgb(97, 97, 97);
}

.ham-menu>ul>li,
.header_style {
  font-size: 7rem;
  white-space: nowrap;
  letter-spacing: 0.0em;
  color: rgb(97, 97, 97);
}

#ham-menu:checked+label {
  background-color: transparent;
  border-color: var(--dark-green);
}

#ham-menu:checked~div.ham-menu {
  transform: translate(0px);
  visibility: visible;
}

.full-page-green {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--dark-green);
  z-index: 997;
  opacity: 0;
  visibility: hidden;
  display: none;
  transition: 500ms;
  position: fixed;
  top: 0;
  left: 0;
}

#ham-menu:checked~div.full-page-green {
  display: block;
  opacity: 1;
  visibility: visible;
}

[for="ham-menu"]>div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  align-items: center;
}

.menu-line {
  display: block;
  width: 17px;
  height: 2px;
  margin: 10px 0 5px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  background-color: var(--border-color);
  transition: 500ms;
  transform-origin: left center;
}

[for="ham-menu"]>div>span:nth-child(4),
[for="ham-menu"]>div>span:nth-child(5),
[for="ham-menu"]>div>span:nth-child(6) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  transform-origin: left center;
}

#ham-menu:checked+label span {
  background-color: var(--dark-green);
}

#ham-menu:checked+label span:nth-child(2),
#ham-menu:checked+label span:nth-child(5) {
  transform: scale(0);
}

#ham-menu:checked+label span:nth-child(1) {
  transform: translateY(17px) rotate(45deg);
}

#ham-menu:checked+label span:nth-child(4) {
  transform: translateY(17px) rotate(-45deg);
}

#ham-menu:checked+label span:nth-child(3) {
  transform: translateY(-17px) rotate(-45deg);
}

#ham-menu:checked+label span:nth-child(6) {
  transform: translateY(-17px) rotate(45deg);
}

.p-dfc {
  display: inline;
  font-size: 1.8rem;
  line-height: 1.5em;
  word-spacing: 0.5em;
  letter-spacing: 0.1em;
  font-family: "OpenSansCondensed-Light";
}

#size_des {
  font-size: 25px;
}


a {
  font-size: 1.6rem;
  line-height: 1.5em;
  word-spacing: 0.5em;
  letter-spacing: 0.1em;
  font-family: "OpenSansCondensed-Light";
  display: inline;
  font-weight: bold;
  padding: 7px;
  color: var(--icon-hover-bg);
}

/* a::after {
  content: "\e806";
  display: inline-block;
  font-family: fontello;
  padding: 5px;
  font-size: 1.6rem;
  transform: rotate(-90deg);
} */


.text {
  font-size: 2.5rem;
  line-height: 1.5em;
  word-spacing: 0.5em;
  letter-spacing: 0.1em;
  font-family: "OpenSansCondensed-Bold", sans-serif;
}

.title {
  font-size: 3rem;
  line-height: 1.em;
  word-spacing: 0.5em;
  letter-spacing: 0.1em;
  font-family: "OpenSansCondensed-Bold", sans-serif;
  color: #1a261d;
  padding: 10px;
}



.line_hi {
  line-height: 0em;
  color: black;
  font-size: 3em;
}

.heading {
  font-size: 6rem;
  line-height: 1.5em;
  word-spacing: 0.5em;
  letter-spacing: 0.1em;
  font-family: "Patua One";
}

.centre-text {
  text-align: center;
}

.bold-text {
  font-weight: bold;
}


.home_div,
.about_div,
.project_div {
  position: relative;
  width: 100%;
  min-height: 75vh;
  display: flex;

}

.about {
  flex-direction: column;
  justify-content: center;
}



.left_side,
.project_div,
.footer_style,
.submit-btn {
  background-color: rgba(33, 96, 47, 0.51);

}


.left_side,
.about_left_div {
  width: 55%;
  padding-top: 6%;
  padding-left: 7%;
}

.w_effect {
  animation: slide_all 2.0s infinite alternate;
  font-size: 25px;
  font-weight: 700;
  color: white;
}

@keyframes slide_all {

  0% {
    transform: translateX(-80px);
    opacity: 1;
    color: white;
  }

  51% {
    color: black;

  }

  100% {
    transform: translateX(80px);
    opacity: 1;
  }

}



.dark_mode_div {
  width: 100%;
  text-align: end;
  margin-bottom: 1%;

}

.darkMode {
  cursor: pointer;
  width: 30px;
  height: 30px;
  display: inline-block;
  background: linear-gradient(to right bottom, #b1b8ca 50%, #1a261d 50%);
  border-radius: 50%;
  transform: rotate(-45deg);

}

.line {
  position: relative;
  z-index: 1;
  left: -100%;
  width: 200%;
  height: 1px;
  background-color: black;
  -webkit-transform: rotate(-45deg);
  /* Safari and Chrome */
  -ms-transform: rotate(-45deg);
  /* IE 9 */
  transform: rotate(-45deg);
}


li {
  list-style: none;
}


.theBoard {
  position: relative;
  width: 510px;
  height: 480px;
  display: grid;
  z-index: 3;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;

  margin-top: 7%;

}


.image_part {
  width: 170px;
  height: 120px;
}



.right_side,
.about_right_div {
  padding-left: 10%;
  padding-right: 3.5%;
  width: 45%;

  padding-top: 3%;
}

.description_p {

  font-size: 2rem;
  font-family: "OpenSansCondensed-Bold", sans-serif;
  color: var(--icon-hover-bg);
  padding: 4px;

}

.diamond-narrow {
  margin-top: 15px;
  margin-top: 25x;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-bottom: 30px solid white;
  position: relative;
  top: 20px;
}

.diamond-narrow:after {
  content: '';
  position: absolute;
  left: -20px;
  top: 30px;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-top: 30px solid var(--icon-hover-bg);
}




.dark_mode {

  animation: fadeDarkMode 1.0s ease;
  background-color: #2d2d2d;

}


@keyframes fadeDarkMode {

  0% {
    background-color: #e9e9e9;
  }

  20% {
    background-color: #d1d1d1;
  }

  40% {
    background-color: #bababa;
  }

  50% {
    background-color: #a3a3a3;
  }

  60% {
    background-color: #8b8b8b;
  }

  70% {
    background-color: #747474;
  }

  80% {
    background-color: #5d5d5d;
  }

  100% {
    background-color: #454545;
  }
}



.project_div {
  padding-top: 4%;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 15px;

}


.project_card_div {
  position: relative;
  width: 50rem;
  height: 500px;
  border-radius: 6px;
  overflow: hidden;

}





.project_info_div {
  height: 500px;
  width: 50rem;
  padding: 30px 20px;
  background-color: white;
  visibility: hidden;
}



.project_img_div {
  width: 50rem;
  height: 500px;
  position: absolute;

}

.show_project_info {
  animation: diagonalEntry 0.8s ease-in;
  animation-fill-mode: forwards;
  padding-top: 15px;
  visibility: visible;
}





@keyframes diagonalEntry {
  from {
    transform: scale(0, 0);
  }

  to {

    transform: scale(1, 1);
  }
}





.link_l {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;

}

.project_description_div {
  width: 100%;
  height: 410px;
  padding: 150px 20px;
 

}

.undo_a{
  text-decoration: none;
  color: #808080;
}

.project_tech_div {
  width: 100%;
  display: flex;
  gap: 2%;
 
}

.project_card_test{
  display:  inline-block;
  height: 500px;
  width: 50rem;
}


#img_test{
  display: block;
  height: 500px;
  width: 50rem;
}
.project_info_test{
position:absolute;
opacity: 0;
height: 0;
  width: 0;
  left:0;
  background-color: rgba(0, 0, 0, 0.09);
  transition:  .5s ease;
}

.project_card_test:hover .project_info_test{
opacity: 1;
height: 500px;
width: 50rem;
}

.about_right_div img {
  width: 80%;
  height: 80%;
}

.project_card_div img {
  height: 100%;
  width: 100%;
}


.contact_div {

  min-height: 60vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

}



.footer_style, .contact_social {
  width: 100%;


  color: white;

}


#last_p {
  white-space: nowrap;
  letter-spacing: 0.1em;
  text-align: center;
  color: rgb(97, 97, 97);
}



.right_div img {
  width: 100%;
  height: 100%;
}

.slide_in {
  animation: slideMe 1.5s ease-in;

}






.slide_out {
  animation: slideMeOut 1.0s ease-in;

}

@keyframes slideMe {

  0% {
    transform: translateX(-150px);
    opacity: 0;
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }

}


@keyframes slideMeOut {

  0% {
    transform: translateX(150px);
    opacity: 0;
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }

}


.pop_in {
  animation: popMe 1.0s ease-in;
  animation-fill-mode: backwards;

}


@keyframes popMe {

  0% {
    opacity: 0;

    transform: scale(0.8, 0.8);

  }

  100% {
    opacity: 1;
    transform: scale(1, 1);
  }

}

.delay-1 {
  animation-delay: 0.8s;
}

.delay-2 {
  animation-delay: 2.1s;
}

.delay-3 {
  animation-delay: 1.1s;
}

.delay-4 {
  animation-delay: 1.5s;
}

.delay-6 {
  animation-delay: 2.4s;
}

.delay-7 {
  animation-delay: 1.5s;
}

.delay-8 {
  animation-delay: 2.7s;
}

.delay-9 {
  animation-delay: 1.0s;
}

.delay-10 {
  animation-delay: 2.2s;
}

.delay-11 {
  animation-delay: 1.7s;
}




.row h1 {
  font-family: 'Poppins', sans-serif, 'arial';
  font-weight: 600;
  font-size: 72px;
  color: white;
  text-align: center;
}


input:focus~label,
textarea:focus~label,
input:valid~label,
textarea:valid~label {
  font-size: 0.75em;
  color: #999;
  top: -5px;
  -webkit-transition: all 0.225s ease;
  transition: all 0.225s ease;
}

.styled-input {
  float: left;
  width: 293px;
  margin: 1rem 0;
  position: relative;
  border-radius: 4px;
}


.styled-input label {
  color: #999;
  padding: 1.3rem 30px 1rem 30px;
  position: absolute;
  top: 10px;
  left: 0;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  pointer-events: none;
  font-size: 20px;
}

.styled-input.wide {
  width: 650px;
  max-width: 100%;
}

.input_class {
  padding: 30px;
  border: 0;
  width: 100%;
  font-size: 1rem;
  background-color: #2d2d2d;
  color: white;
  border-radius: 4px;
}

input:focus,
textarea:focus {
  outline: 0;
}

input:focus~span,
textarea:focus~span {
  width: 100%;
  -webkit-transition: all 0.075s ease;
  transition: all 0.075s ease;
}

textarea {
  width: 100%;
  min-height: 15em;
}

.input-container {
  width: 650px;
  max-width: 100%;
  margin: 20px auto 25px auto;
}

.submit-btn {
  float: right;
  padding: 7px 20px;
  border-radius: 60px;
  display: inline-block;
  color: white;
  font-size: 18px;
  cursor: pointer;
  border: none;

}

.submit-btn:hover {
  transform: translateY(1px);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.10),
    0 2px 2px 0 rgba(0, 0, 0, 0.09);
}


input[type=checkbox]+label {
  color: #ccc;
  font-style: italic;

}

input[type=checkbox]:checked+label {
  font-style: normal;
}



.reveal {
  position: relative;
  opacity: 1;
}

.reveal.active {
  opacity: 1;
}

.active.fade-left {
  animation: fade-left 1s ease-in;
}

.active.fade-right {
  animation: fade-right 1s ease-in;
}

@keyframes fade-left {
  0% {
    transform: skew(45deg) translateX(-150px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-right {
  0% {
    transform: skew(45deg) translateX(170px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}








/* CSS */
.resume_button {
 
  --b: 3px;
  /* border thickness */
  --s: .45em;
  /* size of the corner */

  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b), #0000 90deg, var(--color) 0) var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;
  font-size: 17px;
  font-weight: 800;
  border: 0;
  font-family: "OpenSansCondensed-Light";
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  text-decoration: none;
}

.resume_button:hover,
.resume_button:focus-visible {
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
  text-decoration: none;
  color: black;
}

.resume_button:active {
  background: var(--color);
  color: #fff;
}





